*{
    background-color: #FFF0B4;
    font-family: 'Chivo Mono', monospace;
}

.main{
    border: 2px solid black;
    margin:auto;
    width: 80%;
    height: auto;
}

#start-game{
    background-color: #FFF80F ;
    color: #0B3500  ;
    width:25%;
    height: 75px;
    border-radius: 24px;
    font-size: 2rem;
    margin: auto;
    position: relative;
    left: 345px;
}